@model SarbjitChargerMarket.Models.ChargerTypeViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Chargers" asp-action="Index">
    <p>
        <select asp-for="ChargerType" asp-items="Model.Types">
            <option value="">All</option>
        </select>

        Name: <input type="text" asp-for="SearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Chargers[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chargers[0].Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chargers[0].Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chargers[0].ManufacturingDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chargers[0].Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Chargers[0].Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Chargers)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ManufacturingDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Rating)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
